@import "reset";

body {
    background-color: #2F2F2F;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.33vmax;
}

.container {
    width: 94vw;
    margin: 0 auto;
}

.btn{
   background-color: transparent;
   font-size: inherit;
   font-weight: 700;
   letter-spacing: 0.15vw;
   text-transform: uppercase;
   border-radius: 5px;
   padding: 0.6vw 1vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 0.5s ease;
   &:hover,
   &:focus,
   &:active{
       background-color: #EAEAEA;
       color: #2F2F2F;
   }
}

/*Styles for header*/
.header {
    &__top {
        width: 100%;
        height: 9vmax;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
    }

    &__sign-in{
        border: 1px solid #EAEAEA;
        color: #FFFFFF;
        i{
            margin-right: 1vmax;
        }
    }

    &__cart{
        color: #A4AB82;
        i{
            margin-right: 1vmax;
        }
        &:hover{
            background-color: #A4AB82;
            color: #FFFFFF;
        }
    } 

    &__location, &__currency{
        color: #909090;
        span {
            letter-spacing: 0.1vw;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
            margin-left: 0.5vmax;
        }
    }

    &__logo {
        font-family: 'Kaisei HarunoUmi', serif;
        font-weight: 700;
        font-size: 3.5vmax;
        &_link{
            display: block;
            color: #FFFFFF;
        }
    }

    &__nav {
        background-color:#FFFFFF;
        width: 100%;
        height: 5vmax;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
		&__list {
            display: flex;
		}

		&__item {
            padding: 0 3vmax;
		}

		&__link {
            font-weight: 700;
            letter-spacing: 0.1vw;
            text-transform: uppercase;
            color: #2F2F2F;
            &:hover,
            &:focus,
            &:active{
                opacity: 0.5;
            }
		}
    }

    &__search_panel{
        position: relative;
        z-index: 5;
        height: inherit;
        background-color: #FFFFFF;
        padding: 1vmax;
        input{
            width: 100%;
            border: 2px solid #000000;
            border-radius: 20px;
            padding: 0.7vmax 3vmax 0.7vmax 0.7vmax;
            height: 2.8vmax;
        }
        i{
            position: absolute;
            top: 2vmax;
            right: 2vmax;
            z-index: 6;
            cursor: pointer;
        }
    }
}

/*Styles for banner*/
.banner {
    .container {
    display: flex;
    background: url(../img/banner-img.jpg) top center/cover no-repeat;
    }
    &__info {
        background-color: rgba($color: #000000, $alpha: 0.4);
        height: 28vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #A4AB82;
        text-shadow: 2px 2px 1px #000000;
        font-size: 7vw;
        line-height: 7vw;
        font-weight: 700;
        text-align: center;
        span {
            font-family: 'Kaisei HarunoUmi', serif;
        }
        p{
            font-size: 2vw;
        }
    }
}

/*Styles for main*/

.main{
    padding: 1vmax 0;
    .container{
        display: flex;
        justify-content: space-between;
    }
}

.products{
    padding: 1vmax;
    background-color: #EAEAEA;
    width: 70vw;
    &__title{
        font-size: 2vw;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 1.6vmax;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        .product{
            margin: 0.5vmax;
            max-width: 16vw;
            background-color: #FFFFFF;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.5s ease;
            &:hover{
                border: 1px solid #A4AB82;
                transform: scale(1.05);
            }
            &__img{
                width: 100%;
            }
            &__title{
                margin: 0.4vmax 0.5vmax 0;
            }
            &__price{
                margin: 0.4vmax 0.5vmax;
                font-weight: 700;
            }
        }
    }
    &__button{
        width: 100%;
        font-size: 1.25vmax;
        color: #FFFFFF;
        background-color: #A4AB82;
        border-radius: 4px;
        padding: 1vmax;
        margin-top: 1vmax;
        transition: all 0.5s ease;
        &:hover{
            transform: scale(0.98);
        }
    }
}

.filters{
    background-color:#EAEAEA;
    width: 24vw;
    &__category, &__color, &__size{
        margin-top: 2vmax;
        width: 100%;
        background-color: #FFFFFF;
    }
}

.category, .color, .size {

	&__title{
        height: 4vmax;
        padding: 1.5vmax;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid rgba($color: #A4AB82, $alpha: 0.5);
        p{
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1vw;
        }
        i{
            color: #888888;
        }
        &.open{
            i{
                color: #2F2F2F;
                transform: rotate(90deg);
            }
        }
	}

	&__list {
        background-color: #A4AB82;
        height: 0;
        overflow: hidden;
        a{
           display: block;
           color: #FFFFFF;
           padding: 0.7vmax;
           width: 100%;
           &:hover{
               border: 1px dotted #2F2F2F;
           }
        }
        &.open{
            height: auto;
            overflow: auto;
        }
	}
}

.color, .size {

    &__title {
        height: 4vmax;
        padding: 1.5vmax;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid rgba($color: #A4AB82, $alpha: 0.5);
    }

    &__checkboxes {
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
        li {
            margin: 0.8vmax;
        }
        label{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 3vmax;
            height: 3vmax;
            border-radius: 50%;
            border: 1px solid #cfcfcf;
            cursor: pointer;
            &:hover,&:active{
                border: 2px solid #818181;
            }
        }
        input[type="checkbox"] {
            display: none;
        }
    }
}

/*Styles for footer*/
.footer {
    &__wrapper {
        padding: 1.5vmax 0;
        background-color: #FFFFFF;
        text-align: center;
    }

    &__text {
        font-weight: 700;
        margin-bottom: 0.8vmax;
    }

    &__media {
        i{
            margin: 0 1vmax;
            color: #000000;
            font-size: 2vw;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

/*Styles for cart*/
.cart{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: -3px 2px 5px #2F2F2F;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    &.open{
        transform: translateX(0);
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 9vmax;
        padding: 0 2vmax;
        background-color: #A4AB82;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 2vmax;
        line-height: 2vmax;
        cursor: pointer;
    }
    &__content{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 2vmax;
    }
    &__button{
        border: 1px solid #000000;
    }
}

/*Style for modal*/
.modal {
    position: fixed;
    z-index: 102;
    width: 20vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #A4AB82;
    padding: 1vmax;
    &_button {
        width: 100%;
        background-color: transparent;
        font-size: inherit;
        font-weight: 700;
        letter-spacing: 0.15vw;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 0.6vw 1vw;
        transition: all 0.5s ease;
        &:hover,
        &:focus,
        &:active{
            background-color: #EAEAEA;
        }
    }

    &__close {
        font-size: 2vmax;
        text-align: end;
        margin-bottom: 1vmax;
    }

    &__content {
        
        &_inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__input {
        border-radius: 5px;
        padding: 0.5vmax;
        margin-bottom: 0.5vmax;
        font-size: 1.5vmax;
    }
    &.open{
        display: block;
    }
}

.black-fill{
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    &.open{
        display: block;
    }
}



